.loginbg{
	background: url('https://leshangtong-shanghai-oss.oss-cn-shanghai.aliyuncs.com/static/merchant-webview-zft/login-bg.png')no-repeat top center /100% 100%;
}
	
.loginsbg{
	background: url('https://leshangtong-shanghai-oss.oss-cn-shanghai.aliyuncs.com/static/merchant-webview-zft/login-bg.png')no-repeat top center /100% 100%;
}

.setInfobg{
	background: url('https://leshangtong-shanghai-oss.oss-cn-shanghai.aliyuncs.com/static/merchant-webview-zft/inde-bg.png')no-repeat top center /100% 100%;
}

.levelbg {
	background-image:linear-gradient(#2D2D2D,#1A1A1A) ;
}

.backBg{
	background-image:linear-gradient(#1A1A1A,#1A1A1A) ;
}


.setHomeBg{
	background: url('https://leshangtong-shanghai-oss.oss-cn-shanghai.aliyuncs.com/static/merchant-webview-zft/home-bg.png')no-repeat top center /100% 100%;
}